/* 
    Document   : yotru
    Created on : 06.05.2012, 21:34:21
    Author     : vlasenko
    Description:
        Purpose of the stylesheet follows.
*/

#yotru-button{
    width: 111px;
    height: 107px;
    border: 0px;
}

